<div class="tech-btm">   
    <p> Bloglardan haberdar olun! </p>
    <form action="/Blog/Index" method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" value="ABONE OL">
    </form>

</div>