@model EntityLayer.Concrete.Message2

@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}


<h1>Yeni Blog Girisi</h1>

@using (Html.BeginForm("SendMessage", "Message", FormMethod.Post))
{
   
    <button class="btn btn-info">Yazıyı Kaydet</button>

}

